body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6vw;
  padding: 20px;
  background-color: #FFDAB9;
  border-bottom: 1px solid grey;
}

.header-text {
  font-weight: bold;
  font-size: 34px;
  color: #FF7F50;
}

.container {
  width: 70%;
  margin: 60px;
  padding: 20px 20px 60px 40px;
  background-color:beige;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  text-align: left;
}

.h1 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #BDB76B;
}

.col {
  display: inline-block;
}

.left-col, .right-col {
  width: 40%;
  text-align: left;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.mid-col {
  width: 10px;
}

.text1, .text2 {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #e7e6e6;
  text-align: left;
  font-size: 14px;
}

.left-menu, .right-menu {
  margin-top: 0px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 14px;
}

